# Vim
*.sw*

# Mac
*.DS_Store

# Python
*pylintrc*
*.pkl
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
*.pyc
venv/
venv-*
venv_*

# C extensions
*.so

# Misc
*hide
*hide_*
*.out

# Sphinx docs
docs/_build/

# Images
*.pdf
*.png
*.svg
